body{
    margin: 0px;
    background-color: rgb(243, 243, 243);
}

.zeichenflaecheClasse{
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 650px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    user-select: none;
}

.pixel{
    background-color: white;
}


#buttonZeichnen{
    background: linear-gradient(135deg, #1e4974ff, #195589ff);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 999px;
    font-size: 16px;
    font-weight: bold;
}

#buttonRadieren{
    background: linear-gradient(135deg, #3a8dde, #1e6fb8);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 999px;
    font-size: 16px;
    font-weight: bold;
}

